.discover-page {
    background-color: #ffcc00; /* Jaune */
    color: #004d00; /* Vert foncé */
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .discover-page:hover {
    background-color: #ffb300;
  }
  
  .title {
    font-size: 2.5rem;
    color: #004d00;
    margin-bottom: 30px;
    transition: color 0.3s ease;
  }
  
  .title:hover {
    color: #ff0000;
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #004d00;
    border-radius: 8px;
    background-color: #ffcc00;
    transition: background-color 0.3s ease;
  }
  
  .dropdown:focus {
    background-color: #ffb300;
    outline: none;
  }
  

  .hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  